.home {
  background-color: #f8f8f8;
}

.hero-section {
  background-image: url("../../images/background.png");
  background-size: cover;
  background-position: center;
padding: 20px;

  position: relative;
  overflow: hidden;
   height: auto;
  min-height: 100vh; 
}

.hero-content {
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-bottom: 100px;
}

.hero-text {
  flex: 1;
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
}

.star-icon {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #000;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 30px;
}

.consultation-btn {
  background-color: #000;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.consultation-btn:hover {
  background-color: #333;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.softener-img {
  max-width: 60%;
  height: auto;
}

/* Responsive Design */
@media (max-width: 968px) {
  .hero-section {
    padding: 40px 20px;
  }
  .hero-text {
    flex: 1;
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
  }
  .hero-content {
    flex-direction: column;
    text-align: center;
  }
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 16px;
  }
}

.irritants-section {
  padding-top: 80px;
}
.irritants-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  overflow: hidden;
}

.irritant-item {
  position: relative;
  flex: 1;
  min-width: 200px;
  height: 400px;
  overflow: hidden;
}

.irritant-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.irritant-item:hover .irritant-image {
  transform: scale(1.1);
}

.irritant-name {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: "Poppins", sans-serif;

  z-index: 2;
  margin: 0;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

/* Hide the name when item is hovered */
.irritant-item:hover .irritant-name {
  opacity: 0;
}

.irritant-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}



.see-more-btn:hover {
 
  transform: translateY(-2px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.irritants-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;

  line-height: 1.2;
}

.irritant-overlay h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  font-weight: 600;
}

.irritant-overlay p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.4;
}

.removal-rate {
  color: #4caf50;
  font-weight: bold;
  margin: 10px 0 !important;
}

.impact {
  font-size: 18px !important;
  color: #cccccc;
  margin-bottom: 10px !important;
}

/* Responsive Design */
@media (max-width: 768px) {
  .irritants-container {
    flex-wrap: wrap;
    padding: 20px;
  }

  .irritant-item {
    min-width: 50%;
    height: 400px;
  }

  .irritant-overlay h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .irritant-overlay p {
    font-size: 12px;
  }

  .irritant-name {
    font-size: 16px;
  }

  .see-more-btn {
    padding: 6px 16px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .irritant-item {
    min-width: 100%;
  }
}

.benefits-section-container {
  
  max-width: 100vw;
  margin: 0;
  padding-top: 80px;
  background-color: #f8f8f8;
  overflow-x: hidden; /* Prevent horizontal scroll during animations */
  padding: 28px;
}

.benefits-section-container h1 {
  font-size: 32px;
  color: #1a1a1a;
  text-align: center;
  font-weight: 600;
  position: relative;
  z-index: 2;
  animation: fadeIn 1s ease-in-out;
}
.benefits-grid {
  display: grid;
  grid-template-areas:
    "top-left top-center top-right"
    "bottom-left top-center bottom-right";
  gap: 20px;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-template-rows: repeat(2, 250px);
}

.benefits-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 40px;
  line-height: 1.2;
}
.benefit-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.benefit-card:hover {
  transform: translateY(-5px);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.4); /* Inner shadow */
}

.benefit-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ensures the zoom effect stays inside the container */
}

.benefit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; /* Smooth zoom effect */
}

.benefit-card:hover .benefit-image {
  transform: scale(1.1); /* Slight zoom effect */
}

.benefit-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  padding: 20px;
  color: white;
  z-index: 1;
  justify-content: center;
  display: flex;
}

.benefit-text {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  z-index: 2;
  font-family: "Poppins", sans-serif;

}

/* Responsive Design */
@media (max-width: 968px) {
  .benefits-grid {
    grid-template-areas:
      "top-left"
      "top-center"
      "top-right"
      "bottom-left"
      "bottom-right";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 250px);
  }

  .benefit-card.featured {
    grid-row: span 1;
  }

  .benefits-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.section {
  padding: 80px;

  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 60px;
}

.container {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.timeline {
  flex: 1;
  max-width: 500px;
}

.timeline__item {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  position: relative;
}

.timeline__item:last-child {
  margin-bottom: 0;
}

.timeline__connector {
  position: relative;
  width: 20px;
  display: flex;
  justify-content: center;
}

.timeline__connector::before {
  content: "";
  position: absolute;
  top: 15px;
  bottom: -45px;
  width: 1px;
  background-color: #e0e0e0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline__item:last-child .timeline__connector::before {
  display: none;
}

.timeline__dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  margin-top: 8px;
}

.timeline__content {
  background-color: #fff;
  padding: 14px;
  border-radius: 12px;
  /* Enhanced layered shadow for depth */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05), 0 8px 15px rgba(0, 0, 0, 0.1),
    0 15px 30px rgba(0, 0, 0, 0.08);
}

.timeline__number {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px; /* Add some space between the number and the line */
}

.timeline__connector {
  position: relative;
  width: 25px; /* Adjust width to fit the number */
  display: flex;
  justify-content: center;
}

.timeline__connector::before {
  content: "";
  position: absolute;
  top: 25px; /* Start the line below the number */
  bottom: -45px;
  width: 1px;
  background-color: #e0e0e0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline__item:last-child .timeline__connector::before {
  display: none;
}

.timeline__title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: #333;
}

.timeline__description {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  color: #666;
}

.illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.illustration__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Responsive Design */
@media (max-width: 968px) {
  .container {
    flex-direction: column;
  }

  .timeline {
    width: 100%;
    max-width: 100%;
  }

  .illustration {
    width: 100%;
    max-width: 100%;
    order: -1;
  }

  .heading {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .timeline__content {
    padding: 12px 15px;
  }
  .section {
    padding: 10px 40px;

    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .timeline__title {
    font-size: 16px;
  }

  .timeline__description {
    font-size: 13px;
  }
}

/* ReasonSection.css */
.reason-section {
  text-align: center;
  padding: 40px 20px;
}

.reason-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.reason-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.reason-card {
  border: 1px solid #e0e0e0; /* Light border */
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reason-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.reason-card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.reason-card-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: #555;
  margin: 10px 0;
}

.reason-card-description {
  font-size: 0.9rem;
  color: #777;
  line-height: 1.5;
}
.logo-section {
  position: relative;
  overflow: hidden;
  background-color: black;
  width: 100%;
}

.logo-container {
  padding: 3rem 0;
}

.logo-container h2 {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.logo-scroll {
  display: flex;
  gap: 0; /* No gap between logos */
  animation: scroll 20s linear infinite;
}

.logo-item {
  flex: 1 0 33.333%; /* Each logo takes one-third of the container width */
}

.logo-item img {
  height: 68px;
  width: 100%; /* Stretch each logo to fill its container */
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Optional: Pause animation on hover */
.logo-scroll:hover {
  animation-play-state: paused;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .logo-item img {
    height: 36px;
  }

  .logo-container {
    padding: 1.5rem 0;
  }
}

.testimonial-section {
  max-width: 100vw;
  margin: 0 auto;
  padding: 64px 16px;
}

.testimonial-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
}

.testimonial-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.testimonial-content {
  display: flex;
  gap: 32px;
}

.testimonial-image {
  width: 100%;
  height: 260px;
  
  object-fit: cover;
}

.testimonial-details {
  flex: 0 0 66.666%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
}

.testimonial-name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.testimonial-text {
  color: #666;
  line-height: 1.6;
  margin-bottom: 24px;
}

.testimonial-meta {
  display: flex;
  gap: 16px;
  color: #666;
}
.testimonial-image-container {
  margin: -10px;
}

.meta-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.meta-icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.nav-button {
  padding: 8px;
  border: none;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-button:hover {
  background-color: #f5f5f5;
}

.nav-button svg {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Responsive Design */
@media (max-width: 768px) {
  .testimonial-content {
    flex-direction: column;
  }

  .testimonial-image-container {
    flex: none;
  }

  .testimonial-details {
    flex: none;
  }

  .testimonial-title {
    font-size: 28px;
  }

  .testimonial-name {
    font-size: 20px;
  }
}

.newsletter-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #f8f8f8;
}

.newsletter-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #333;
}

.newsletter-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 24px;
}

.newsletter-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  gap: 12px;
}

.newsletter-input {
  flex: 1;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}

.newsletter-input:focus {
  border-color: #666;
}

.newsletter-submit {
  padding: 12px 32px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.newsletter-submit:hover {
  background-color: #333;
}

/* Responsive Design */
@media (max-width: 640px) {
  .newsletter-form {
    flex-direction: column;
    padding: 0 20px;
  }

  .newsletter-submit {
    width: 100%;
  }
}


.water-softening-section {
  text-align: center;
  padding: 40px;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.products-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  gap: 20px;
  padding-bottom: 10px;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.products-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit-based browsers */
}

.products-container::-webkit-scrollbar {
  height: 8px; /* Height for horizontal scrollbar */
}

.products-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.products-container::-webkit-scrollbar-track {
  background: transparent;
}

.product-card {
  flex: 0 0 auto; /* Prevent shrinking and ensure cards stay in line */
  width: 250px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.product-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
  transform-origin: top; /* Zoom from the top */
}

.product-card:hover .product-image {
  transform: scale(1.1); /* Zoom the image */
}

.product-title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-arrow {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
  text-decoration: none;
}

.product-arrow:hover {
  color: #007bff;
}




.Know-more-btn {
  flex: 0 0 auto; /* Prevent shrinking */
  padding: 10px 20px; /* Optional: Adjust padding for better click area */
  background: transparent; /* No background */
  border: none; /* No border */
  color: inherit; /* Inherit color from parent or surrounding text */
  font-size: 1rem;
  cursor: pointer;
  white-space: nowrap; /* Prevent button from breaking into multiple lines */
  transition: color 0.3s ease; /* Optional: Change text color on hover */
  margin-top: 20px;
  font-size: 26px;
}

.see-more-btn {
  flex: 0 0 auto; /* Prevent shrinking */
  padding: 10px 20px;
  border: none;
  background-color: #E6E6E6; /* No background */
  color: #000; /* Black text color */
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px; /* Space between text and arrow */
  text-decoration: none;
  transition: color 0.3s ease;
  border-radius: 16px;
}

.see-more-btn:hover {
  color: #007bff; /* Add a hover effect with a blue text color */
}
